<% provide(:title, '3D Printer Use Report') %>

<h1>Enter your details</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  
      <!--Status indicators-->
  		<div class="status green" id="green_status"><div class = "textstatus">Low to high risk work permitted</div></div>
  		<div class="status orange" id="orange_status"><div class = "textstatus">Low risk work permitted</div></div>
  		<div class="status red" id="red_status"><div class = "textstatus">University Closed</div></div>
    
    <!--Form for check in and time punches-->
    <%= form_for @printer_data, url: {action: "new"}, method: "post" do |f| %> 
    	<%= render 'shared/printer_data_error_messages', object: @printer_data%>   	
    	
    	
    	<%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %> 


      <%= f.label :phone_number %>
      <%= f.number_field :phonenumber, class: 'form-control' %>

      <%= f.label :project %>
      <%= f.text_field :project, class: 'form-control' %>	


      <%= f.label :printer %>
      <%= f.text_field :printer, class: 'form-control' %> 

      <%= f.label :from_time %>
      <%= f.time_select :from_time, class: 'form-control' %> 


      <%= f.label :to_time %>
      <%= f.time_select :to_time, class: 'form-control' %> 


      <%= f.label :volume %>
      <%= f.number_field :volume, class: 'form-control' %>


      <%= f.label :notes %>
      <%= f.text_area :volume, class: 'form-control' %> 

  		<%= f.submit "Send Data", class: "btn btn-primary" %> 
      
    <% end %>
  </div>
</div>
