<% provide(:title, '3D Printer Use Report') %>

<h1>Enter your details</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  
      <!--Status indicators-->
  		<div class="status green" id="green_status"><div class = "textstatus">Low to high risk work permitted</div></div>
  		<div class="status orange" id="orange_status"><div class = "textstatus">Low risk work permitted</div></div>
  		<div class="status red" id="red_status"><div class = "textstatus">University Closed</div></div>
    
    <!--Form for check in and time punches-->
    <%= form_for @printer_data, url: {action: "new"}, method: "post" do |f| %> 
    	<%= render 'shared/printer_data_error_messages', object: @printer_data%>   	
    	
    	
    	<%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %> 


      <%= f.label :phone_number %>
      <%= f.number_field :phonenumber, min: "0", class: 'form-control' %>

      <%= f.label :project %>
      <%= f.text_field :project, class: 'form-control' %>	

      <%= f.label :printer %>
      <%@printers = PrinterStatus.all %>
      <%= f.collection_select(:printer, @printers.sort { |a,b| a.printer.downcase <=> b.printer.downcase } , :printer, :printer) %>
      
      <%= f.label :time_of_completion_estimate %> 
      <div class="input-group bootstrap-timepicker timepicker">
            <%= f.text_field :to_time, id: "timepicker1", class: 'form-control input-small' , value: "17:00"%>
       
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
 
        <script type="text/javascript">
            $('#timepicker1').timepicker();
        </script>

      <%= f.label :volume %>
      <%= f.number_field :volume, min: "0" , class: 'form-control' %>


      <%= f.label :notes %>
      <%= f.text_area :notes, class: 'form-control' %> 

  		<%= f.submit "Send Data", class: "btn btn-primary" %> 
      
    <% end %>
  </div>
</div>