 <% provide(:title, '3D Printers') %>

<h1>3D Printer Availability</h1>

 <!-- Table for checkins -->
 <table class="table table-hover">
 	<tr>
 		<th>Printer<%if current_user.admin?%><%= link_to "Add Printer", new_printer_status_path, class: "btn btn-primary btn-xs btn-logout" %><%end%></th>
 		<th>Availability</th>
 		<th>Estimated Completion Time</th>
 		<%if current_user.admin?%>
		<th></th>
		<%end%>
	
 	</tr>
	<% PrinterStatus.all.each do |printer| %>
		<%if !printer.available? && (printer.completion_time.hour < DateTime.now.hour || (printer.completion_time.hour == DateTime.now.hour && printer.completion_time.min < DateTime.now.min)) %>
 		<% printer.update_attributes(available: true, completion_time: nil)%>
 		<%end%>
			<tr>
			<td><%=printer.printer%></td>
			<%if printer.available%>
			<td>Available</td>
			<td>-</td>
			<%else%>
			<td>In Use</td>
			<td><%=printer.completion_time.strftime "%I:%M%p"%></td>
			<%end%>
			<%if current_user.admin?%>
			<td><%= link_to "Delete Printer", printer, method: :delete , data: { confirm: "Are you sure you would like to remove \"#{printer.printer}\"?"}, class: "btn btn-primary btn-xs btn-logout" %></td>
			<%end%>
			</tr>
	<% end %>

</table>
</div>

<div>
	<%= link_to "Use Printer", new_printer_datum_path , class: "btn btn-primary" %>
	<%if current_user.admin?%>
	<%= link_to "Download Spreadsheet", new_printer_selection_path , class: "btn btn-primary" %>
	<%end%>
	