 <% provide(:title, 'Fabrication') %>



<h1>Fabrication Equipment Availability</h1>

 <!-- Table for checkins -->
 <table class="table table-hover">
 	<tr>
 		<th>Image</th>
 		<th>Equipment<%if !current_user.nil? && current_user.admin?%><%= link_to "Add Equipment", new_printer_status_path, class: "btn btn-primary btn-xs btn-logout" %><%end%></th>
 		<th>Availability</th>
 		<th>User</th>
 		<th>Contact #</th>
 		<th>Estimated Completion Time</th>
 		<%if logged_in?%>
		<th></th>
		<%end%>
 		<%if !current_user.nil? && current_user.admin?%>
		<th></th>
		<%end%>
	
 	</tr>
	<% PrinterStatus.all.each do |printer| %>
		<%if !printer.available? && (printer.completion_time.hour < DateTime.now.hour || (printer.completion_time.hour == DateTime.now.hour && printer.completion_time.min < DateTime.now.min)) %>
 		<% printer.update_attributes(available: true, completion_time: nil)%>
 		<%end%>
			<tr>
			<td><%= image_tag printer.image.thumb.url if printer.image? %></td>
			<td><%=printer.printer%></td>
			<%if printer.available%>
			<td>Available</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<%if logged_in?%>
			<td><%= link_to "Use Equipment", new_printer_datum_path(printer: printer.id), class: "btn btn-primary btn-xs btn-logout" %></td>
			<%end%>

			<%else%>
			<td>In Use</td>
			<td><%=printer.name%></td>
			<td><%=printer.number%></td>
			<td><%=printer.completion_time.strftime "%I:%M%p"%></td>
		
			<%if logged_in?%>
			<td></td>
			<%end%>
			<%end%>
			<%if !current_user.nil? && current_user.admin?%>
			<td><%= link_to "Delete", printer, method: :delete , data: { confirm: "Are you sure you would like to remove \"#{printer.printer}\"?"}, class: "btn btn-primary btn-xs btn-logout" %></td>
			<%end%>
			</tr>
	<% end %>

</table>
</div>

<div>
	<% if logged_in?%>
	<%= link_to "Use Printer", new_printer_datum_path , class: "btn btn-primary" %>
	<%end%>
	<%if !current_user.nil? && current_user.admin?%>
	<%= link_to "Download Spreadsheet", new_printer_selection_path , class: "btn btn-primary" %>
	<%end%>
	