<!--Form for selecting a date range to download data.-->
<% provide(:title, 'Printer Data Select') %>
<%= link_to "Back", printer_statuses_path , class: "btn btn-primary" %>
<h1>Retrieve Data</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @p_selection do |f| %> 
    
  	<%= render 'shared/p_selection_error_messages', object: @p_selection %>   	
    	<%= f.label :from%>
    	<%= f.date_select :from_time, prompt: {year: 'Year', month: 'Month', day: 'Day'}, start_year: 2017, end_year: 2100%>
    	<%= f.label :to%>
		<%= f.date_select :to_time, prompt: {year: 'Year', month: 'Month', day: 'Day'}, start_year: 2017, end_year: 2100%>
	
  		<%= f.submit "Download", class: "btn btn-primary" %>
		 <% end %>
  </div>
</div>


<!--source: https://stackoverflow.com/questions/18380100/date-select-save-higher-day-of-the-month-available-->
<!--this javascript fills the "Day" dropdowns with the appropriate amount of days for a given month. Rails
  Otherwise defaults to 31 for every month and this causes error.-->
<script>
$(function(){
  railsFromMonthDates();
  railsToMonthDates();
  $("select[id*=from_time_2i], select[id*=from_time_1i]").change( railsFromMonthDates );
  $("select[id*=to_time_2i], select[id*=to_time_1i]").change( railsToMonthDates );
});

function railsFromMonthDates() {
  $("select[id*=from_time_2i]").each(function(){
    $monthSelect = $(this);
    $daySelect = $(this).siblings("select[id*=from_time_3i]");
    $yearSelect = $(this).siblings("select[id*=from_time_1i]");

    var year = parseInt($yearSelect.val());
    var month = parseInt($monthSelect.val());
    var days = new Date(year, month, 0).getDate();

    var selectedDay = $daySelect.val()
    $daySelect.html('');

      $daySelect.append('<option value="'+""+'">'+"Day"+'</option>');
    for(var i=1; i<=days; i++) {
      $daySelect.append('<option value="'+i+'">'+i+'</option>');
    }
    $daySelect.val(selectedDay);
  });
}
  function railsToMonthDates() {
  $("select[id*=to_time_2i]").each(function(){
    $monthSelect = $(this);
    $daySelect = $(this).siblings("select[id*=to_time_3i]");
    $yearSelect = $(this).siblings("select[id*=to_time_1i]");

    var year = parseInt($yearSelect.val());
    var month = parseInt($monthSelect.val());
    var days = new Date(year, month, 0).getDate();

    var selectedDay = $daySelect.val()
    $daySelect.html('');

      $daySelect.append('<option value="'+""+'">'+"Day"+'</option>');
    for(var i=1; i<=days; i++) {
      $daySelect.append('<option value="'+i+'">'+i+'</option>');
    }
    $daySelect.val(selectedDay);
  });
}
</script>