<% provide(:title, 'Time Punch') %>
<% javascript 'dynamic_states' %>

<h1>Punch in or out of the MicroFab</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @time_punch, url: {action: "new"}, method: "post" do |f| %> 
    	<%= render 'shared/time_punch_error_messages', object: @time_punch %>   	
    	
    	<%= f.label :name %>
    	<%@users = User.where(activated: true, microfab: true) %>
      <%= f.collection_select(:name, @users.sort { |a,b| a.name.downcase <=> b.name.downcase } , :name, 
      				:name) %>
      				
      <%= f.label :buddy %>
      <div id="buddy_field">
    	<%@users = User.where(activated: true, microfab: true) %>
      <%= f.collection_select(:buddy, @users.sort { |a,b| a.name.downcase <=> b.name.downcase } , :name, 
      				:name, {include_blank: 'N/A (Staff Only)'}) %>
		</div>
	
  		<%= f.submit "Punch", class: "btn btn-primary" %> 
      
      
      
      
      
    <% end %>
  </div>
</div>
<p></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Currently Punched In</div>
  <div class = "panel-body">
    Remember to punch out!
  </div>

  <!-- Table -->
 <table class="table table-hover">
 	<tr>
 		<th>Name</th>
 		<th>Buddy</th>
 		<th>Punch In Time</th>
 		<th></th>
 	</tr>
	<% CheckIn.all.each do |check_in| %>
			<tr>
			<td><%=check_in.name%></td>
			<td><%=check_in.buddy%></td>
			<td><%=check_in.time%></td>
			
			<% if current_user.admin? %>
			<td>
			<%= link_to "edit", edit_check_in_path(check_in) ,class: "btn, btn-secondary" %>  
			| 
			<%= link_to "delete", check_in, method: :delete ,class: "btn, btn-secondary", data: { confirm: "Are you sure?"} %>
			</td>
			<% end %>
			</tr>
	<% end %>

</table>
</div>

<div>
	<% if current_user.admin? %>
	<%= link_to "Download Spreadsheet", new_selection_path , class: "btn btn-primary" %>
	<%= link_to "Quick Add User", new_micro_fab_user_path , class: "btn btn-primary" %>
	<%= link_to "Manage Quick Users", micro_fab_users_path , class: "btn btn-primary" %>
 	<% end %> 
	<%= link_to "Buddy Policy", '#',  class: "btn btn-primary", data: { confirm: "The safety policy of the Auckland Microfab requires that all student users (postgraduate included) are paired with a \"buddy\" when using the clean room.\n\nStaff are encouraged but not required to also use a buddy.\n\nYour buddy must be in the same room (cleanroom), in 301.B043 outside of the cleanroom, or in an adjacent room (301.B048 or 301.BO34) while you are in the cleanroom. Failure to follow this policy will lead to loss of access.\n\nAll buddies must have either cleanroom safety training or SCS safety training."} %>


</div>

