<% provide(:title, ' Time Punch') %>
<h1>Punch in or out of the MicroFab</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @time_punch, url: {action: "new"}, method: "post" do |f| %>    	
    	
    	<%= f.label :name %>
    	<%@users = User.where(activated: true) %>
      <%= f.collection_select(:name, @users.sort { |a,b| a.name.downcase <=> b.name.downcase } , :name, 
      				:name) %>
	
      
  		<%= f.submit "Punch", class: "btn btn-primary" %> 
      
      
      
      
      
    <% end %>
  </div>
</div>
<p></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Currently Punched In</div>
  <div class = "panel-body">
    Remember to punch out!
  </div>

  <!-- Table -->
 <table class="table table-hover">
 	<tr>
 		<th>Name</th>
 		<th>Punch In Time</th>
 		<th></th>
 	</tr>
	<% CheckIn.all.each do |check_in| %>
			<tr>
			<td><%=check_in.name%></td>
			<td><%=check_in.time%></td>
			<td>
			<%if (Time.current - check_in.created_at).to_i < 600%>
			<%= link_to "edit", edit_check_in_path(check_in) ,class: "btn, btn-secondary" %>  
			| 
			<%end%>
			<%= link_to "delete", check_in, method: :delete ,class: "btn, btn-secondary", data: { confirm: "Are you sure?"} %>
			
			</td>
			</tr>
	<% end %>

</table>
</div>

<% if current_user.admin? %>
<div>
	<%= link_to "Download Spreadsheet", new_selection_path , class: "btn btn-primary" %>
</div>
 <% end %>

